@import '~@angular/material/theming';
$nga-primary: mat-palette($mat-cyan);
$nga-accent: mat-palette($mat-cyan, A200, A100, A400);
$nga-warn: mat-palette($mat-red);

$nga-theme: mat-light-theme($nga-primary, $nga-accent, $nga-warn);

$nga-background: map-get($nga-theme, background);
$nga-foreground: map-get($nga-theme, foreground);

$nga-typography: mat-typography-config();
